odd/cmi-customization.odd

<?xml version="1.0" encoding="utf-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Correspondence Metadata Interchange Format</title>
                <title type="version">1.1</title>
                <author>TEI Correspondence SIG</author>
            </titleStmt>
            <publicationStmt>
                <authority>TEI Correspondence SIG</authority>
                <availability>
                    <licence>
                        <p>CC+BY and BSD-2 licences</p>
                    </licence>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2024-10-18">
                <persName>Klaus Rettinghaus</persName>
                <desc>Allow text content in date.</desc>
            </change>
            <change when="2023-08-05">
                <persName>Klaus Rettinghaus</persName>
                <desc>Restrict type of correspAction.</desc>
            </change>
            <change when="2023-05-08">
                <persName>Klaus Rettinghaus</persName>
                <desc>Add editorial attributes to children of correspAction.</desc>
            </change>
            <change when="2015-02-18">
                <persName>Peter Stadler</persName>
                <desc>Updated CMIF to build on the latest Jenkins P5 build. Proposal namespaces are gone.</desc>
            </change>
            <change when="2015-02-11">
                <persName>Stefan Dumont</persName>
                <desc>Updated CMIF to current state of proposal and correspSearch. teiHeader//titleStmt/respStmt replaces editor.</desc>
            </change>
            <change when="2014-07-02">
                <persName>Peter Stadler</persName>
                <desc>Initial creation of Correspondence Interchange Format schema.</desc>
            </change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <p>This customization builds on the correspDesc element. 
                It aims to define an interchange format for correspondence projects. </p>
        </body>
        <back>
            <div>
                <head>Formal Specification</head>
                <schemaSpec ident="cmi-customization" start="TEI" status="stable">
                    <moduleRef key="tei"/>
                    <moduleRef key="textstructure" include="body TEI text"/>
                    <moduleRef key="core" include="bibl date editor email name note p ref title publisher"/>
                    <moduleRef key="header" include="availability correspDesc correspAction correspContext fileDesc idno licence profileDesc publicationStmt sourceDesc teiHeader titleStmt"/>
                    <moduleRef key="namesdates" include="persName orgName placeName" />
                    
                    <elementSpec ident="titleStmt" mode="change" module="header">
                        <content>
                            <elementRef key="title"/>
                            <elementRef key="editor" maxOccurs="unbounded"/><!-- oneOrMore -->
                        </content>
                    </elementSpec>

                    <elementSpec ident="publicationStmt" mode="change" module="header">
                        <content>
                            <elementRef key="publisher" maxOccurs="unbounded" />
                            <elementRef key="idno"/>
                            <elementRef key="date"/>
                            <elementRef key="availability"/>
                        </content>
                    </elementSpec>
                    
                    <elementSpec ident="licence" mode="change" module="header">
                        <classes mode="replace">
                            <memberOf key="att.pointing"/>
                            <memberOf key="model.availabilityPart"/>
                        </classes>
                        <attList>
                            <attDef ident="targetLang" mode="delete"/>
                            <attDef ident="evaluate" mode="delete"/>
                            <attDef ident="target" usage="req" mode="change"/>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="sourceDesc" mode="change" module="header">
                        <content>
                            <elementRef key="bibl" maxOccurs="unbounded"/><!-- oneOrMore -->
                        </content>
                    </elementSpec>
                    
                    <elementSpec ident="bibl" module="core" mode="change">
                        <attList>
                            <attDef ident="type" mode="change" usage="req">
                                <valList mode="replace" type="closed">
                                    <valItem ident="online">
                                        <desc>The described edition is an online only publication</desc>
                                    </valItem>
                                    <valItem ident="print">
                                        <desc>The described edition is a print only publication</desc>
                                    </valItem>
                                    <valItem ident="hybrid">
                                        <desc>The described edition is both available online and printed</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                            <attDef ident="xml:id" mode="change" usage="req">
                                <desc>Should contain a UUID, which is static, i.e. doesn't change when the CMIF
                                is change and/or regenerated. Be aware that the UUID have to begin with
                                a letter, since the definition of @xml:id requires that.</desc>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="correspAction" mode="change" module="header">
                        <content>
                            <classRef key="model.correspActionPart" minOccurs="1" maxOccurs="unbounded"/>
                        </content>
                        <attList>
                            <attDef ident="type" mode="change" usage="req"/>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="date" mode="change" module="core">
                        <classes mode="replace">
                            <memberOf key="att.datable.w3c"/>
                            <memberOf key="att.editLike"/>
                            <memberOf key="att.global.responsibility"/>
                            <memberOf key="model.correspActionPart"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                    </elementSpec>
                    
                    <elementSpec ident="idno" mode="replace" module="header">
                        <desc xml:lang="en" versionDate="2015-10-16">Provides the URL of the CMI file</desc>
                        <content>
                            <dataRef key="teidata.pointer"/>
                        </content>
                        <attList>
                            <attDef ident="type" mode="add" usage="req">
                                <valList mode="add" type="closed">
                                    <valItem ident="url"/>
                                </valList>
                            </attDef>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples">
                                <idno type="url">http://weber-gesamtausgabe.de/correspDesc.xml</idno>
                            </egXML>
                        </exemplum>
                    </elementSpec>
                    
                    <elementSpec ident="persName" mode="change" module="namesdates">
                        <classes mode="replace">
                            <memberOf key="model.nameLike.agent"/>
                            <memberOf key="att.canonical"/>
                            <memberOf key="att.editLike"/>
                            <memberOf key="att.global.responsibility"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="key" mode="delete"/>
                            <attDef ident="ref" mode="change" usage="rec"/>
                        </attList>
                    </elementSpec>
                    
                    <elementSpec ident="orgName" mode="change" module="namesdates">
                        <classes mode="replace">
                            <memberOf key="model.nameLike.agent"/>
                            <memberOf key="att.canonical"/>
                            <memberOf key="att.editLike"/>
                            <memberOf key="att.global.responsibility"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="key" mode="delete"/>
                            <attDef ident="ref" mode="change" usage="rec"/>
                        </attList>
                    </elementSpec>
                    
                    <elementSpec ident="placeName" mode="change" module="namesdates">
                        <classes mode="replace">
                            <memberOf key="model.nameLike.agent"/>
                            <memberOf key="att.canonical"/>
                            <memberOf key="att.editLike"/>
                            <memberOf key="att.global.responsibility"/>
                        </classes>
                        <content>
                            <textNode/>
                        </content>
                        <attList>
                            <attDef ident="key" mode="delete"/>
                            <attDef ident="ref" mode="change" usage="rec"/>
                        </attList>
                    </elementSpec>
                                      
                </schemaSpec>
            </div>
        </back>
    </text>
</TEI>
